.form-group {
    margin-bottom: 1rem;
}

#inputValue {
    width: 760px;
    font-size: 1 rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: .25rem;

}

#search {
    color: white;
    background-color: orangered;
    font-size: 1rem;
    min-height: 38px;
    font-weight: 400;
    cursor: pointer;
    padding: .375rem .75 rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

#movies-searchable {
    margin-top: 20px;
    margin-bottom: 30px;
}

.movie {
    margin-bottom: 30px;
}

section {
    display: flex;
    width: 100%;
    overflow-x: auto;

}

section img {
    width: 300px;
}

img:hover {
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}

.content {
    border: 1px solid lightgray;
    padding: 20px;
    display: none;
}

#content-close {
    cursor: pointer;
}

.content div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
}

.content-display {
    display: block;
}

